dotnet_diagnostic.RCS1002.severity = suggestion
dotnet_diagnostic.RCS1003.severity = suggestion
dotnet_diagnostic.RCS1005.severity = suggestion
dotnet_diagnostic.RCS1006.severity = suggestion
dotnet_diagnostic.RCS1007.severity = suggestion
dotnet_diagnostic.RCS1032.severity = suggestion
dotnet_diagnostic.RCS1038.severity = suggestion
dotnet_diagnostic.RCS1040.severity = suggestion
dotnet_diagnostic.RCS1061.severity = suggestion
dotnet_diagnostic.RCS1068.severity = suggestion
dotnet_diagnostic.RCS1073.severity = suggestion
dotnet_diagnostic.RCS1103.severity = suggestion
dotnet_diagnostic.RCS1104.severity = suggestion
dotnet_diagnostic.RCS1126.severity = suggestion
dotnet_diagnostic.RCS1128.severity = suggestion
dotnet_diagnostic.RCS1134.severity = suggestion
dotnet_diagnostic.RCS1179.severity = suggestion
dotnet_diagnostic.RCS1208.severity = suggestion
dotnet_diagnostic.RCS1211.severity = suggestion
dotnet_diagnostic.RCS1218.severity = suggestion
