[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_diagnostic.RCS0044.severity = silent
dotnet_diagnostic.RCS0045.severity = silent
dotnet_diagnostic.RCS1036.severity = silent
dotnet_diagnostic.RCS1037.severity = silent

[*.cs]
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion

dotnet_diagnostic.RCS1002.severity = suggestion
dotnet_diagnostic.RCS1003.severity = suggestion
dotnet_diagnostic.RCS1005.severity = suggestion
dotnet_diagnostic.RCS1006.severity = suggestion
dotnet_diagnostic.RCS1007.severity = suggestion
dotnet_diagnostic.RCS1032.severity = suggestion
dotnet_diagnostic.RCS1038.severity = suggestion
dotnet_diagnostic.RCS1040.severity = suggestion
dotnet_diagnostic.RCS1061.severity = suggestion
dotnet_diagnostic.RCS1068.severity = suggestion
dotnet_diagnostic.RCS1073.severity = suggestion
dotnet_diagnostic.RCS1103.severity = suggestion
dotnet_diagnostic.RCS1104.severity = suggestion
dotnet_diagnostic.RCS1126.severity = suggestion
dotnet_diagnostic.RCS1128.severity = suggestion
dotnet_diagnostic.RCS1134.severity = suggestion
dotnet_diagnostic.RCS1179.severity = suggestion
dotnet_diagnostic.RCS1208.severity = suggestion
dotnet_diagnostic.RCS1211.severity = suggestion
dotnet_diagnostic.RCS1218.severity = suggestion
dotnet_diagnostic.RCS0001.severity = silent
dotnet_diagnostic.RCS0002.severity = silent
dotnet_diagnostic.RCS0003.severity = silent
dotnet_diagnostic.RCS0005.severity = silent
dotnet_diagnostic.RCS0006.severity = silent
dotnet_diagnostic.RCS0007.severity = silent
dotnet_diagnostic.RCS0008.severity = silent
dotnet_diagnostic.RCS0009.severity = silent
dotnet_diagnostic.RCS0010.severity = silent
dotnet_diagnostic.RCS0011.severity = silent
dotnet_diagnostic.RCS0013.severity = silent
dotnet_diagnostic.RCS0012.severity = silent
dotnet_diagnostic.RCS0014.severity = silent
dotnet_diagnostic.RCS0015.severity = silent
dotnet_diagnostic.RCS0016.severity = silent
dotnet_diagnostic.RCS0020.severity = silent
dotnet_diagnostic.RCS0021.severity = silent
dotnet_diagnostic.RCS0022.severity = silent
dotnet_diagnostic.RCS0023.severity = silent
dotnet_diagnostic.RCS0024.severity = silent
dotnet_diagnostic.RCS0025.severity = silent
dotnet_diagnostic.RCS0027.severity = silent
dotnet_diagnostic.RCS0028.severity = silent
dotnet_diagnostic.RCS0029.severity = silent
dotnet_diagnostic.RCS0030.severity = silent
dotnet_diagnostic.RCS0031.severity = silent
dotnet_diagnostic.RCS0032.severity = silent
dotnet_diagnostic.RCS0033.severity = silent
dotnet_diagnostic.RCS0034.severity = silent
dotnet_diagnostic.RCS0036.severity = silent
dotnet_diagnostic.RCS0038.severity = silent
dotnet_diagnostic.RCS0039.severity = silent
dotnet_diagnostic.RCS0041.severity = silent
dotnet_diagnostic.RCS0042.severity = silent
dotnet_diagnostic.RCS0043.severity = silent
dotnet_diagnostic.RCS0046.severity = silent
dotnet_diagnostic.RCS0047.severity = silent
dotnet_diagnostic.RCS0049.severity = silent
dotnet_diagnostic.RCS0050.severity = silent
dotnet_diagnostic.RCS0051.severity = silent
dotnet_diagnostic.RCS0052.severity = silent
dotnet_diagnostic.RCS0053.severity = silent
dotnet_diagnostic.RCS0054.severity = silent
dotnet_diagnostic.RCS0055.severity = silent
dotnet_diagnostic.RCS0056.severity = silent
dotnet_diagnostic.RCS0057.severity = silent
dotnet_diagnostic.RCS0058.severity = silent
dotnet_diagnostic.RCS0059.severity = silent
dotnet_diagnostic.RCS0060.severity = silent
dotnet_diagnostic.RCS9002.severity = silent
dotnet_diagnostic.RCS9003.severity = silent
dotnet_diagnostic.RCS9004.severity = silent
dotnet_diagnostic.RCS9005.severity = silent
dotnet_diagnostic.RCS9006.severity = silent
dotnet_diagnostic.RCS9007.severity = silent
dotnet_diagnostic.RCS9008.severity = silent
dotnet_diagnostic.RCS9009.severity = silent
dotnet_diagnostic.RCS9011.severity = silent
dotnet_diagnostic.RCS1001.severity = silent
dotnet_diagnostic.RCS1013.severity = silent
dotnet_diagnostic.RCS1014.severity = silent
dotnet_diagnostic.RCS1015.severity = silent
dotnet_diagnostic.RCS1018.severity = silent
dotnet_diagnostic.RCS1019.severity = silent
dotnet_diagnostic.RCS1020.severity = silent
dotnet_diagnostic.RCS1021.severity = silent
dotnet_diagnostic.RCS1033.severity = silent
dotnet_diagnostic.RCS1036.severity = silent
dotnet_diagnostic.RCS1041.severity = silent
dotnet_diagnostic.RCS1046.severity = silent
dotnet_diagnostic.RCS1047.severity = silent
dotnet_diagnostic.RCS1048.severity = silent
dotnet_diagnostic.RCS1049.severity = silent
dotnet_diagnostic.RCS1050.severity = silent
dotnet_diagnostic.RCS1051.severity = silent
dotnet_diagnostic.RCS1052.severity = silent
dotnet_diagnostic.RCS1056.severity = silent
dotnet_diagnostic.RCS1058.severity = silent
dotnet_diagnostic.RCS1059.severity = silent
dotnet_diagnostic.RCS1060.severity = silent
dotnet_diagnostic.RCS1063.severity = silent
dotnet_diagnostic.RCS1064.severity = silent
dotnet_diagnostic.RCS1065.severity = silent
dotnet_diagnostic.RCS1072.severity = silent
dotnet_diagnostic.RCS1075.severity = silent
dotnet_diagnostic.RCS1077.severity = silent
dotnet_diagnostic.RCS1078.severity = silent
dotnet_diagnostic.RCS1079.severity = silent
dotnet_diagnostic.RCS1080.severity = silent
dotnet_diagnostic.RCS1081.severity = silent
dotnet_diagnostic.RCS1084.severity = silent
dotnet_diagnostic.RCS1085.severity = silent
dotnet_diagnostic.RCS1089.severity = silent
dotnet_diagnostic.RCS1090.severity = silent
dotnet_diagnostic.RCS1093.severity = silent
dotnet_diagnostic.RCS1094.severity = silent
dotnet_diagnostic.RCS1096.severity = silent
dotnet_diagnostic.RCS1097.severity = silent
dotnet_diagnostic.RCS1098.severity = silent
dotnet_diagnostic.RCS1099.severity = silent
dotnet_diagnostic.RCS1100.severity = silent
dotnet_diagnostic.RCS1101.severity = silent
dotnet_diagnostic.RCS1102.severity = silent
dotnet_diagnostic.RCS1105.severity = silent
dotnet_diagnostic.RCS1106.severity = silent
dotnet_diagnostic.RCS1107.severity = silent
dotnet_diagnostic.RCS1108.severity = silent
dotnet_diagnostic.RCS1110.severity = silent
dotnet_diagnostic.RCS1111.severity = silent
dotnet_diagnostic.RCS1112.severity = silent
dotnet_diagnostic.RCS1113.severity = silent
dotnet_diagnostic.RCS1114.severity = silent
dotnet_diagnostic.RCS1118.severity = silent
dotnet_diagnostic.RCS1123.severity = silent
dotnet_diagnostic.RCS1130.severity = silent
dotnet_diagnostic.RCS1132.severity = silent
dotnet_diagnostic.RCS1135.severity = silent
dotnet_diagnostic.RCS1138.severity = silent
dotnet_diagnostic.RCS1139.severity = silent
dotnet_diagnostic.RCS1146.severity = silent
dotnet_diagnostic.RCS1154.severity = silent
dotnet_diagnostic.RCS1155.severity = silent
dotnet_diagnostic.RCS1156.severity = silent
dotnet_diagnostic.RCS1157.severity = silent
dotnet_diagnostic.RCS1158.severity = silent
dotnet_diagnostic.RCS1159.severity = silent
dotnet_diagnostic.RCS1160.severity = silent
dotnet_diagnostic.RCS1162.severity = silent
dotnet_diagnostic.RCS1164.severity = silent
dotnet_diagnostic.RCS1163.severity = silent
dotnet_diagnostic.RCS1166.severity = silent
dotnet_diagnostic.RCS1169.severity = silent
dotnet_diagnostic.RCS1170.severity = silent
dotnet_diagnostic.RCS1172.severity = silent
dotnet_diagnostic.RCS1173.severity = silent
dotnet_diagnostic.RCS1174.severity = silent
dotnet_diagnostic.RCS1175.severity = silent
dotnet_diagnostic.RCS1180.severity = silent
dotnet_diagnostic.RCS1187.severity = silent
dotnet_diagnostic.RCS1190.severity = silent
dotnet_diagnostic.RCS1191.severity = silent
dotnet_diagnostic.RCS1192.severity = silent
dotnet_diagnostic.RCS1193.severity = silent
dotnet_diagnostic.RCS1194.severity = silent
dotnet_diagnostic.RCS1195.severity = silent
dotnet_diagnostic.RCS1196.severity = silent
dotnet_diagnostic.RCS1197.severity = silent
dotnet_diagnostic.RCS1198.severity = silent
dotnet_diagnostic.RCS1199.severity = silent
dotnet_diagnostic.RCS1200.severity = silent
dotnet_diagnostic.RCS1202.severity = silent
dotnet_diagnostic.RCS1203.severity = silent
dotnet_diagnostic.RCS1204.severity = silent
dotnet_diagnostic.RCS1205.severity = silent
dotnet_diagnostic.RCS1206.severity = silent
dotnet_diagnostic.RCS1207.severity = silent
dotnet_diagnostic.RCS1209.severity = silent
dotnet_diagnostic.RCS1210.severity = silent
dotnet_diagnostic.RCS1212.severity = silent
dotnet_diagnostic.RCS1213.severity = silent
dotnet_diagnostic.RCS1214.severity = silent
dotnet_diagnostic.RCS1215.severity = silent
dotnet_diagnostic.RCS1216.severity = silent
dotnet_diagnostic.RCS1220.severity = silent
dotnet_diagnostic.RCS1221.severity = silent
dotnet_diagnostic.RCS1222.severity = silent
dotnet_diagnostic.RCS1223.severity = silent
dotnet_diagnostic.RCS1224.severity = silent
dotnet_diagnostic.RCS1225.severity = silent
dotnet_diagnostic.RCS1226.severity = silent
dotnet_diagnostic.RCS1227.severity = silent
dotnet_diagnostic.RCS1229.severity = silent
dotnet_diagnostic.RCS1230.severity = silent
dotnet_diagnostic.RCS1231.severity = silent
dotnet_diagnostic.RCS1232.severity = silent
dotnet_diagnostic.RCS1233.severity = silent
dotnet_diagnostic.RCS1234.severity = silent
dotnet_diagnostic.RCS1235.severity = silent
dotnet_diagnostic.RCS1236.severity = silent
dotnet_diagnostic.RCS1239.severity = silent
dotnet_diagnostic.RCS1240.severity = silent
dotnet_diagnostic.RCS1242.severity = silent
dotnet_diagnostic.RCS1243.severity = silent
dotnet_diagnostic.RCS1246.severity = silent
dotnet_diagnostic.RCS1247.severity = silent
dotnet_diagnostic.RCS1248.severity = silent
dotnet_diagnostic.RCS1249.severity = silent
dotnet_diagnostic.RCS1250.severity = silent
dotnet_diagnostic.RCS1251.severity = silent
dotnet_diagnostic.RCS1252.severity = silent
dotnet_diagnostic.RCS1253.severity = silent
dotnet_diagnostic.RCS1254.severity = silent
dotnet_diagnostic.RCS1255.severity = silent
dotnet_diagnostic.RCS1256.severity = silent
dotnet_diagnostic.RCS1171.severity = silent
dotnet_diagnostic.RCS1044.severity = silent
